<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{page.title}} | {{ dbase.website.title }} {% else %} {{ dbase.website.title }} | {{ dbase.website.description }} {% endif %}</title>
  <meta name=description content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ dbase.website.description }}{% endif %}">
  <meta name=viewport content="width=device-width, initial-scale=1">
  {% if dbase.website.metatag.google-site-verification %}
  <meta name="google-site-verification" content="{{ dbase.website.metatag.google-site-verification }}">
  {% endif %}
  {% if dbase.website.metatag.expires %}
  <meta http-equiv="expires" content="{{ dbase.website.metatag.expires }}">
  {% endif %}
  {% if dbase.website.metatag.cache-control %}
  <meta http-equiv="cache-control" content="{{ dbase.website.metatag.cache-control }}"/>
  {% else %}
  <meta http-equiv="cache-control" content="public"/>
  {% endif %}
  <meta http-equiv="pragma" content="public">
  <meta name="keywords" content="{{ dbase.website.metatag.tags }}" />
  <meta name="author" content="{{ dbase.website.strings.post.author.name }}" />
  <meta property="og:locale" content="{{ dbase.website.metatag.locale }}" />
  <meta property="og:site_name" content="{{ dbase.website.title }}" />
  <meta property="og:type" content="{{ dbase.website.metatag.type }}" />
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
  <meta property="og:description" content="{{ dbase.website.description }}" />
  <meta property="og:title" content="{{ page.title }} - {{ dbase.website.title }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ dbase.website.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% if page.url == "/404.html" and dbase.website.metatag.refresh-time %}
  <meta http-equiv="refresh" content="{{ dbase.website.metatag.refresh-time }}; url={{ site.url }}{{ site.baseurl }}/">
  {% endif %}
  <script type="application/ld+json">
    {"@context": "http://schema.org",
    "@type": "{{ dbase.website.metatag.type }}",
    "name": "{{ dbase.website.strings.post.author.name }}",
    "headline": "{{ dbase.website.title }}",
    "author": {"@type": "Person",
    "name": {"{{ dbase.website.title }}"}},
    "description": "{{ dbase.website.description }}",
    "url": "{{ site.url }}{{ site.baseurl }}"}
  </script>

  <script type="text/javascript">
  var GLOBAL_BASEURL = "{{ site.url }}{{ site.baseurl }}";
  </script>

  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon/favicon-32x32.png' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Bootstrap 3 -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Bootstrap 4 -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->

  <!-- Fonts  -->
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

  <!-- Style Default -->
  <link rel="stylesheet" href="{{ '/assets/stylesheets/main.css' | prepend: site.baseurl | prepend: site.url }}">
</head>
