{% for hello in site.categories.hello %}
  <div class="hello">
    <div class="row title">
      <h1>{{ hello.title }}<span class="cursor">|</span></h1>
    </div>
    <div class="row content ">
      {% if site.avatar.hello == true %}
        <img {% if site.avatar.border.enable == true %} style="border: {{site.avatar.border.value}}px solid #333; border-radius: {{site.avatar.border.radius}}%;" {% endif %} class="pull-left avatar" src="{{ "/assets/images/avatar"  | prepend: site.baseurl | prepend: site.url }}/{{ dbase.website.avatar }}" {%if site.avatar.size.enable == true %} height="{{ site.avatar.size.value }}" width="{{ site.avatar.size.value }}" {% endif %} alt="{{ dbase.website.title }}">
      {% endif %}
      {{ hello.content }}
    </div>
  </div>
{% endfor %}