{% if site.share_social.enable == true %}
<div class="row sharebutton">
  <ul class="wrapper">
    <li class="title">{{ dbase.website.strings.share_social.title }}</li>
    {% if site.share_social.facebook == true %}
      <li class="fb">
        <a href="#" title="{{ dbase.website.strings.share_social.facebook.title }}" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;">Facebook</a>
      </li>
    {% endif %}
    {% if site.share_social.linkedin == true %}
      <li class="linkedin">
        <a href="http://www.linkedin.com/cws/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}" onclick="window.open(this.href,&quot;popupwindow&quot;,&quot;status=0,height=500,width=700,resizable=0,top=50,left=100&quot;);return false;" target="_blank" title="{{ dbase.website.strings.share_social.linkedin.title }}">Linkedin</a>
      </li>
    {% endif %}
    {% if site.share_social.twitter == true and dbase.userdate.twitter %}
      <li class="twitter">
        <a href="https://twitter.com/intent/tweet?text={{ page.url | prepend: site.baseurl | prepend: site.url }} - {{ page.title }} by {{ dbase.userdata.twitter }}" target="_blank" title="{{ dbase.website.strings.share_social.twitter.title }}">Twitter</a>
      </li>
    {% endif %}
    {% if site.share_social.googleplus == true %}
      <li class="googleplus">
        <a href="https://plus.google.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}" onclick="window.open(this.href,&quot;popupwindow&quot;,&quot;status=0,height=500,width=700,resizable=0,top=50,left=100&quot;);return false;" target="_blank" title="{{ dbase.website.strings.share_social.gplus.title }}">Google+</a>
      </li>
    {% endif %}
  </ul>
</div>
{% endif %}
