/* Stylesheets for layout Default - Mobile
––––––––––––––––––––––––––––––––––––––––––––––––––  */

@media (max-width: 768px){
  .layout_default{
    padding-bottom: 40px !important;
    &__dashed{
      border: none;
    }
    &__container{
      max-width: 100%;
    }
  }
}
