/* Stylesheets for layout Postlist - Blog Home - Mobile
––––––––––––––––––––––––––––––––––––––––––––––––––  */


@media (max-width: 768px){
  .layout_postlist{
    &__content{
      background-color: transparent;
      padding: 0 !important;
    }
    &__link{
      h1{
        font-size: 1.65rem;
      }
    }
    &__excerpted{
      font-size: 1rem;
    }
  }
}
