---
layout: default
---

<!-- Include Data Base  -->
{% include liquid/data %}

<div class="p-1 p-lg-3 layout_resume {% if load_options.content.resume.animation == true %} animation__content {% endif %}">

    <div class="p-1 p-lg-4 mb-4 layout_resume__header">
      <div class="container-fluid">

        <div class="row">
          <div class="p-0 col-8 col-lg-3 offset-lg-0 col-sm-6">
            <h1 class="font-weight-bold layout_resume__title">{{ page.title }}</h1>
          </div>
          <div class="col-4 col-lg-3 offset-lg-6 col-sm-6 d-none d-lg-block">
            <div class="row justify-content-end">
              <button id="layout_resume__btnprint" type="button" name="button" class="btn btn-link btn-typing layout_resume__btnprint">{{ load_data.website.content.resume.button.text }}</button>
            </div>
          </div>

          {% if load_options.content.resume.reading_time.enable == true %}
          <div class="layout_resume__reading_time">
            <i class="far fa-clock"></i>
            {{ page.content | reading_time }}
          </div>
          {% endif %}
        </div>
      </div>

      <!-- { % if page.excerpt % }
      <div class="mt-3 mb-5 layout_resume__excerpt">
        <div class="container-fluid">
          <div class="row d-block">
            <div class="layout_resume__excerpt-text">{ { page.excerpt } }</div>
          </div>
        </div>
      </div>
      { % endif % } -->

    </div>

    

    <div class="p-1 p-lg-4 mb-4 layout_resume__content">
      <div class="container-fluid">
        <div class="row d-block">
          {% if load_options.content.resume.image.enable == true and 
              load_data.website.content.resume.image %}
          <div class="img-fluid float-right d-none d-lg-block layout_resume__photo_cv">
            <img class="rounded" style="border: 1px solid #000;"
            src="{{ '/assets/images/cv' | prepend: site.baseurl }}/{{ load_data.website.content.resume.image }}"
            alt="" width="120" height="auto">
          </div>
          {% endif %}
          {{ content }}
        </div>
      </div>
    </div>

  </div>
