/* Stylesheets for print page Resume
---------------------------------------------------------------*/

@media print {
  .sidebar,.footer, #markdown-toc{
    display: none;
  }
  .layout_default__content{
    border: none;
  }

  .layout_resume{
    &__header, &__excerpt{
      display: none;
    }
    &__content{
      font-family: $font-family__third;
      color: $color-text;
      a,code{
        color: $color-text;
      }
      /* Avoid printing hrefs when this class is applied */
      a[href]:after {
        content: none !important;
      }
      .badge-plugin{
        box-shadow: none !important;
        border: 1px solid $color-text !important;
        color: $color-text !important;
        background-color: white !important;
      }
      li{
        margin: 8px 0px;
      }
      p{
        strong{
          font-style: normal;
        }
      }
      blockquote{
        border: none;
        background-color: transparent;
      }
      h1,h2,h3{
        font-weight: bold;
      }
      h1{
        font-size: 2.9rem;
      }
      h2{
        font-size: 2.4rem;
      }
      h3{
        font-size: 1.79rem;
      }
    }
  }
}
