node_modules/
cache/
assets/vendor/js/*.js
assets/vendor/js/*.map
!assets/vendor/js/simple-jekyll-search.min.js
_site/
public/
temp/
tmp/
.sass-cache/
.jekyll-cache/
.jekyll-metadata/
package-lock.json
*.Indentifier
**/*.bak
**/*.lock
**/*.log
Gemfile.lock
package-lock.json
