vendor/
!/_src/_sass/vendor/
!/assets/vendor/simple-jekyll-search.min.js
/node_modules/
/_site/
/public/
/temp/
/.sass-cache/
/.jekyll-cache/
/.jekyll-metadata/
**/*.bak
**/*.lock
**/*.log
package-lock.json
