<!-- HTML to enter modal search in the blog layout.
by: William C. Canin -->

{% for post in site.categories.blog %}
  <div class="modal-search">
    <div class="modal fade modal-fullscreen" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close" aria-hidden="true"></i></button>
            {% if site.searchModal.header.title %}
              <h4 class="modal-title">{{site.searchModal.header.title}}</h4>
            {% endif %}
          </div>
          {% for post in site.categories['blog'] %}
            {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
          {% endfor %}
          <div class="modal-body">
            <input class="search-input" type="text" id="search-input" value="" placeholder="{{site.searchModal.input.placeholder[0]}} {{ post_count }} {{site.searchModal.input.placeholder[1]}}" onfocus="this.placeholder = '{{site.searchModal.input.onfocus}}'" onblur="this.placeholder = '{{site.searchModal.input.onblur[0]}} {{ post_count }} {{site.searchModal.input.onblur[1]}}'" autofocus>
            <div class="searchResults">
                <h3>{{site.searchModal.result.title}}</h3>
                <ul class="searchResult" id="searchResult"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}