/* Theme Cloudysky
––––––––––––––––––––––––––––––––––––––––––––––––––  */
// Default
$background__full: #f7f7f7 !default;
$elements__background: #f3f3f3 !default;
$color__clickable: #587feb !default;
$color__text: #000 !default;
$texts__background: rgba(226, 217, 218, 0.42) !default;
$hr__color: #000 !default;
$elements__box_border_color: #b4b4b4;
$terminal__shadow_color: #000;

// Keyframes
$keyframe__pulse_color_primary: rgba(26, 25, 25, 0.158);
$keyframe__pulse_color_secondary: rgba(48, 47, 47, 0.103);

// Footer
$footer__bg: #fff !default;

