/* Theme Hacking
––––––––––––––––––––––––––––––––––––––––––––––––––  */
// Default
$background__full: #000 !default;
$elements__background: #0a0a0a !default;
$color__clickable: #1ad62a !default;
$color__text: #ffffff !default;
$texts__background: #161616 !default;
$hr__color: rgb(255, 255, 255) !default;
$elements__box_border_color: transparent;
$terminal__shadow_color: #636363;

// Keyframes
$keyframe__pulse_color_primary: rgba(228, 228, 228, 0.158);
$keyframe__pulse_color_secondary: rgba(233, 233, 233, 0.103);

// Footer
$footer__bg: rgb(0, 0, 0) !default;

