/* Theme Hacking
––––––––––––––––––––––––––––––––––––––––––––––––––  */

// Colors
$bg__full: #212121;
$bg__elements: #2e2e2e;
$color-text: #fff;
$highlight__bgcolor: #0f0f0f;
$highlight__bordercolor: #000;
$highlight__color: #fff;
$layout_postlist__bg: #2a2a2a;
$dashed_color: #fff;
$color__links: #26ff09; /* default: #26ff09 */
$sidebar__bg: #2e2e2e;
$sidebar__title-color: #fff;
$sidebar__img-bg: #302f2f;
$blockquote__bg: #4e4e4e;
$footer__bg: #111111;
$footer__bordertop: 0.1rem solid #111111;
$layout-search__input-bgcolor: $bg__full;
$layout-search__input-color: #FFF;
$btn-typing__color: #000;

// Fonts
$font-weight__all-links: lighter; 
$font-size__content: 17px;
$font-size__sidebar-menu: 20px;
$font-weight__sidebar-menu: bold;
$font-size__layout_postlist-link: 25px;
$font-size__layout_resume_content: 17px;
$font-weight__layout_postlist-link: bold;

// Hover / decoration
$sidebar__menu-hover-color: inherit;
$sidebar__menu-decoration: underline;
$sidebar__menu-hover-decoration: none;
$sidebar__img-shadow: none;
$layout_postlist__hover-title-color: $color__links;
$layout_postlist__title-decoration: underline;
$layout_postlist__hover-title-decoration: underline;

// Enables functions for theme - true | false
$hr-dashed-enable: false;
$border-dashed-enable: false;
$border-r-dashed-enable: false;
$border-l-dashed-enable: false;
$elements__bg-enable: false;
$layout_postlist__bg-enable: false;
$layout_default__bg-enable: true;
$sidebar__bg-enable: true;

// Table color
$table-thead-tr-th-border:#26ff09; /* default: #26ff09 */
$table-thead-tr-th-color: black;
$table-thead-tr-th-bg: #26ff09;
$table-tbody-tr-td-border: #26ff09;
$table-tbody-tr-td-color: white;
$table-tbody-tr-td-bg: #191919;

// Gist theme
$gist-bg: #0f0f0f;
$gist-code-color: #FFFFFF;
$gist-border: #0f0f0f #0f0f0f #0f0f0f;
$gist-line-number-bg: #050505;
$gist-line-number-color: #2B91AF;
$gist-meta-color: white;
$gist-meta-link-color: #1c9feb;
$gist-comment-color: #57A64A;
$gist-function-color: #569CD6;
$gist-function-name-color: #FFFFFF;
$gist-string-color: #D69D85;
$gist-variables-color: #a4c9ef;