/* Theme Littlegirl
––––––––––––––––––––––––––––––––––––––––––––––––––  */

// Colors
$bg__full: #faafce;
$bg__elements: #faafce;
$color-text: #2b2b2b;
$highlight__bgcolor: #d9d9d9;
$highlight__bordercolor: #d0d0d0;
$highlight__color: #373737;
$layout_postlist__bg: #fce2ed;
$dashed_color: #2d2d2d;
$color__links: #8a0daf;
$sidebar__bg: #faafce;
$sidebar__title-color: $color-text;
$sidebar__img-bg: #FFF;
$blockquote__bg: #f0f0f0;
$table__bg: #dddddd;
$thead__bg: #dddddd;
$th__bordercolor: #dddddd;
$tbody__bg: #dddddd;
$td__bordercolor: #dddddd;
$footer__bg: #fff;
$footer__bordertop: 0.1rem solid #FFF;
$layout-search__input-bgcolor: #FFF;
$layout-search__input-color: #000;
$btn-typing__color: #FFF;

// Fonts
$font-weight__all-links: lighter; 
$font-size__content: 17px;
$font-size__sidebar-menu: 20px;
$font-weight__sidebar-menu: bold;
$font-size__layout_postlist-link: 25px;
$font-size__layout_resume_content: 17px;
$font-weight__layout_postlist-link: bold;

// Hover / decoration
$sidebar__menu-hover-color: inherit;
$sidebar__menu-decoration: underline;
$sidebar__menu-hover-decoration: none;
$layout_postlist__hover-title-color: $color__links;
$layout_postlist__title-decoration: underline;
$font-size__layout_resume_content: 12pt;
$layout_postlist__hover-title-decoration: underline;

// Enables functions for theme - true | false
$hr-dashed-enable: true;
$border-dashed-enable: true;
$border-r-dashed-enable: true;
$border-l-dashed-enable: true;
$elements__bg-enable: true;
$layout_postlist__bg-enable: true;
$layout_default__bg-enable: true;
$sidebar__bg-enable: true;
