/* Theme Littlegirl
––––––––––––––––––––––––––––––––––––––––––––––––––  */

// Colors
$bg__full: #faafce;
$bg__elements: #faafce;
$color-text: #2b2b2b;
$highlight__bgcolor: #d9d9d9;
$highlight__bordercolor: #d0d0d0;
$highlight__color: #373737;
$layout_postlist__bg: #fce2ed;
$dashed_color: #2d2d2d;
$color__links: #8a0daf;
$sidebar__bg: #faafce;
$sidebar__title-color: $color-text;
$sidebar__img-bg: #FFF;
$sidebar__img-rounded: "square"; // Options: circle | square
$blockquote__bg: #f0f0f0;
$footer__bg: #fff;
$footer__bordertop: 0.1rem solid #FFF;
$layout-search__input-bgcolor: #FFF;
$layout-search__input-color: #000;
$btn-typing__color: #FFF;

// Fonts
$font-weight__all-links: bold; 
$font-size__content: 17px;
$font-size__sidebar-menu: 20px;
$font-weight__sidebar-menu: bold;
$font-size__layout_postlist-link: 25px;
$font-size__layout_resume_content: 17px;
$font-weight__layout_postlist-link: bold;

// Hover / decoration
$sidebar__menu-hover-color: inherit;
$sidebar__menu-decoration: underline;
$sidebar__menu-hover-decoration: none;
$sidebar__img-shadow:  0px 0px 20px rgba(0,0,0,0.2);
$layout_postlist__hover-title-color: $color__links;
$layout_postlist__title-decoration: underline;
$font-size__layout_resume_content: 12pt;
$layout_postlist__hover-title-decoration: underline;

// Enables functions for theme - true | false
$hr-dashed-enable: true;
$border-dashed-enable: true;
$border-r-dashed-enable: true;
$border-l-dashed-enable: true;
$elements__bg-enable: true;
$layout_postlist__bg-enable: true;
$layout_default__bg-enable: true;
$sidebar__bg-enable: true;

// Table color
$table-thead-tr-th-border: #faafce;
$table-thead-tr-th-color: black;
$table-thead-tr-th-bg: #faafce;
$table-tbody-tr-td-border: #faafce;
$table-tbody-tr-td-color: black;
$table-tbody-tr-td-bg: #fce2ed;

// Gist theme
$gist-background-color: #8a0daf;
// Gist theme
$gist-bg: #0f0f0f;
$gist-border: #0f0f0f #0f0f0f #0f0f0f;
$gist-line-number-bg: #050505;
$gist-meta-color: white;
$gist-meta-link-color: #1c9feb;

// Gist theme
$gist-bg: #f3dce6;
$gist-code-color: black;
$gist-border: $gist-bg $gist-bg $gist-bg;
$gist-line-number-bg: $gist-bg;
$gist-line-number-color: black;
$gist-meta-color: black;
$gist-meta-link-color: #1c9feb;
$gist-comment-color: #386931;
$gist-function-color: #246194;
$gist-function-name-color: #ad8500;
$gist-string-color: #c55829;
$gist-variables-color: #132b44;

// Terminal home (if enabled)
$terminal_is_enable: "yes"; // yes / no
$terminal-light-around: #dba6a6;
$terminal-text-color: #3bff1a;
$terminal-link-color: #3BB662;
$terminal-font-font-weight: 400;
$terminal-header-bg: #000;
$terminal-content-bg: #000;
$terminal-title-color: #FFF;

// Resume
$badge-resume-bg: #979797;
$badge-resume-color: #1f1f1f;

// Pagination
$pagination-text-decoration: none;
$pagination-newer-bg: $color__links;
$pagination-newer-color: #fff;
$pagination-newer-bg-hover: #a32cc7;
$pagination-newer-color-hover: #fff; 
$pagination-counter-bg: #FFF;
$pagination-counter-color: #353535;
$pagination-counter-bg-hover: #FFF;
$pagination-counter-color-hover: #353535;
$pagination-older-bg: $color__links;
$pagination-older-color: #fff;
$pagination-older-bg-hover: #a32cc7;
$pagination-older-color-hover: #fff; 
