/* Theme Littlegirl
––––––––––––––––––––––––––––––––––––––––––––––––––  */
// Default
$background__full: #e77eb3 !default;
$elements__background: #f39ad7 !default;
$color__clickable: #7b15b6 !default;
$color__text: #000 !default;
$texts__background: #da7ec2!default;
$hr__color: #000 !default;
$elements__box_border_color: transparent;
$terminal__shadow_color: #000;

// Keyframes
$keyframe__pulse_color_primary: rgba(164, 35, 250, 0.349);
$keyframe__pulse_color_secondary: rgba(182, 35, 250, 0.199);

// Footer
$footer__bg: #f0a9cc !default;
