/* Theme Typing - Default
––––––––––––––––––––––––––––––––––––––––––––––––––  */
// Default
$background__full: #e4ca91 !default;
$elements__background: #ffe6b0 !default;
$color__clickable: #D7101E !default;
$color__text: #000 !default;
$texts__background: rgba(216, 200, 201, 0.42) !default;
$hr__color: #000 !default;
$elements__box_border_color: transparent;
$terminal__shadow_color: #000;

// Keyframes
$keyframe__pulse_color_primary: rgba(250, 35, 49, 0.158);
$keyframe__pulse_color_secondary: rgba(250, 35, 49, 0.103);

// Footer
$footer__bg: #fff !default;
