/* Theme Typing - Default
––––––––––––––––––––––––––––––––––––––––––––––––––  */

// Colors
$bg__full: #f3e8ba !default;
$bg__elements: #f3e8ba !default;
$color-text: #000 !default;
$highlight__bgcolor: #d8d9d8 !default;
$highlight__bordercolor: #646266 !default;
$highlight__color: #000 !default;
$layout_postlist__bg: #fff !default;
$dashed_color: #9c9c9c !default;
$color__links: #D7101E !default;
$sidebar__bg: #f3e8ba !default;
$sidebar__title-color: #000 !default;
$sidebar__img-bg: #fff !default;
$blockquote__bg: #cdcdcd !default;
$table__bg: #FFFFF2 !default;
$thead__bg: #BEBEBE !default;
$th__bordercolor: #fff !default;
$tbody__bg: #D6D6D6 !default;
$td__bordercolor: #fff !default;
$footer__bg: #fff !default;
$footer__bordertop: 1px solid #dfd4a4;


// Enables functions for theme - true | false
$hr-dashed-enable: true !default;
$border-dashed-enable: true !default;
$border-r-dashed-enable: true !default;
$border-l-dashed-enable: true !default;
$elements__bg-enable: true !default;
$layout_postlist__bg-enable: true !default;
$layout_default__bg-enable: true !default;
$sidebar__bg-enable: true !default;
