<!-- Include Data Base  -->
{% include liquid/data %}

<!-- This modal is only used when using the AJAX feature to submit
  the form in Formspree. The AJAX form submission feature in Formspree
  is only available for the paid plan, not the free one. -->

<div class="modal fade email_failed_sent" id="email_failed_sent"
      tabindex="-1" role="dialog" aria-labelledby="Email Failed Sent" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered email_failed_sent__dialog" role="document">
          <div class="modal-content email_failed_sent__content">
            <div class="modal-header border-bottom-0 email_failed_sent__header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <i class="far fa-window-close"></i>
              </button>
            </div>
            <div class="modal-body email_failed_sent__body">
                <div class="row my-4 p-3 justify-content-center email_failed_sent__icon">
                    <i class="{{ load_data.website.content.contact.
                      send.failed.header.icon }} el_icon"></i>
                  </div>
                  <div class="row my-4 p-3 justify-content-center email_failed_sent__message_header">
                    <h4>
                      {{ load_data.website.content.contact.send.failed.header.message }}
                    </h4>
                  </div>
                  <div class="row my-4 p-3 justify-content-center email_failed_sent__message_body">
                      <p>{{ load_data.website.content.contact.send.failed.body }}</p>
                  </div>
            </div>
          </div>
        </div>
</div>