<!-- Include Data Base  -->
{% include liquid/data %}

<div class="col-lg-3 px-0 mt-0 sidebar">
  <div class="
    {% if load_options.sidebar.avatar.enable == false %} py-4 {% else %} py-3 {% endif %}
    {% if load_options.sidebar.fixed == true %} sticky-top {% endif %} flex-grow-1">
    <div class="pt-3 sidebar__wrapper">
      <div class="nav flex-lg-column mx-3 mx-lg-0">
        {% if load_options.sidebar.avatar.flip.enable == true and load_data.website.sidebar.avatar.flip.img %}
        <div class="d-none 
          {% if load_options.sidebar.avatar.enable == true %} d-sm-block {% endif %}
          sidebar__avatar_flip">
          <div class="sidebar__avatar_flip-card">
            <a class="sidebar__avatar_flip-front sidebar__avatar_flip-face" href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">
              {% if load_options.sidebar.avatar.flip.face.svg_inner == false %}
              <img class="p-1 img-fluid mx-auto d-block
                {% if load_options.sidebar.animation == true %} animation__pulse {% endif %}
                {% if load_options.sidebar.avatar.circle == true %} sidebar_avatar_circle {% endif %}
                {% if load_options.sidebar.avatar.background == true %} sidebar_avatar_background {% endif %}
                {% if load_options.sidebar.avatar.border == true %} sidebar_avatar_border {% endif %}
                image_avatar
              "
              src="{{ '/assets/images/avatar' | prepend: site.baseurl }}/{{ load_data.website.sidebar.avatar.img }}"
              alt="Avatar">
              {% else %}
                <!-- Add your SVG - BEGIN -->
                
                <!-- Add your SVG - END -->
                {% endif %}
            </a>
            <a class="sidebar__avatar_flip-back sidebar__avatar_flip-face" href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">
              {% if load_options.sidebar.avatar.flip.back.svg_inner == false %}
              <img class="p-1 img-fluid mx-auto d-block
                {% if load_options.sidebar.animation == true %} animation__pulse {% endif %}
                {% if load_options.sidebar.avatar.circle == true %} sidebar_avatar_circle {% endif %}
                {% if load_options.sidebar.avatar.background == true %} sidebar_avatar_background {% endif %}
                {% if load_options.sidebar.avatar.border == true %} sidebar_avatar_border {% endif %}
                image_avatar  
              "
              src="{{ '/assets/images/avatar' | prepend: site.baseurl }}/{{ load_data.website.sidebar.avatar.flip.img }}"
              alt="Avatar">
              {% else %}
                <!-- Add your SVG - BEGIN -->
                
                <!-- Add your SVG - END -->
                {% endif %}
            </a>
          </div>
        </div>
        {% else %}
        <div class="d-none d-sm-block sidebar__avatar_noflip">
          <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" class="nav-link">
            {% if load_options.sidebar.avatar.noflip.face.svg_inner == false %}
            <img class="p-1 img-fluid {% if load_options.sidebar.animation == true %} animation__pulse {% endif %} mx-auto d-block
              {% if load_options.sidebar.avatar.circle == true %} sidebar_avatar_circle {% endif %}
              {% if load_options.sidebar.avatar.background == true %} sidebar_avatar_background {% endif %}
              {% if load_options.sidebar.avatar.border == true %} sidebar_avatar_border {% endif %}
              image_avatar  
            "
            src="{{ '/assets/images/avatar' | prepend: site.baseurl }}/{{ load_data.website.sidebar.avatar.img }}"
            alt="Avatar"/>
            {% else %}
              <!-- Add your SVG - BEGIN -->
              
              <!-- Add your SVG - END -->
              {% endif %}
          </a>
        </div>
        {% endif %}
        <h1 class="p-2 text-center d-md-flex align-items-center mx-auto {% if load_options.sidebar.animation == true %} animation__sidebar-title {% endif %} sidebar__title">
          <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" class="nav-link" style="font-size: {{ load_data.website.sidebar.title.size }}">{{ load_data.website.sidebar.title.text }}</a>
        </h1>
        <div class="p-2 mx-3
          {% if load_options.sidebar.avatar.enable == true %} d-md-flex flex-md-column align-items-md-start {% endif %}
          align-items-center align-items-lg-start flex-lg-column mx-auto mr-lg-3 ml-lg-3
          sidebar__menu {% if load_options.sidebar.animation == true %} animation__sidebar-menu {% endif %}">
          <div class="my-1 d-none d-md-block mr-3 sidebar__menu-title">Menu: {{ load_data.website.sidebar.menu.blog.text }}</div>
          {% assign sorted_pages = site.pages | sort: 'order' %}
          {% for page in sorted_pages %}
          {% if page.title and page.menu.local[0] == 'blog' and page.autogen == nil %}
          <li class="mr-3 mr-lg-0 float-left float-lg-none sidebar__menu-item">
              {% if load_options.sidebar.icons.enable == true %}<i class="mr-1 fas {{ page.icon }}"></i>{% endif %}
              <a class="sidebar__menu-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a>
          </li>
          {% endif %}
          {% if page.title and page.menu.local[1] == 'blog' and page.autogen == nil %}
          <li class="mr-3 mr-lg-0 float-left float-lg-none sidebar__menu-item">
              {% if load_options.sidebar.icons.enable == true %}<i class="mr-1 fas {{ page.icon }}"></i>{% endif %}
              <a class="sidebar__menu-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
