/* Theme Hacking
––––––––––––––––––––––––––––––––––––––––––––––––––  */
// Default
$background__full: #000 !default;
$elements__background: #0a0a0a !default;
$color__clickable: #1ad62a !default;
$color__text: #ffffff !default;
$texts__background: #161616 !default;
$hr__color: rgb(255, 255, 255) !default;
$elements__box_border_color: transparent;
$terminal__shadow_color: #636363;
$buttons__color: #000 !default;

// Keyframes
$keyframe__pulse_color_primary: rgba(228, 228, 228, 0.158);
$keyframe__pulse_color_secondary: rgba(233, 233, 233, 0.103);

// Highlighter
$highlight__background: #000;
$highlight__border_color: #000;
$highlight__color: #fff;

// Footer
$footer__bg: rgb(0, 0, 0) !default;

// Blockquote
$blockquote__background: #131313;

// Table
$table__thead_th_background: #1b1b1b;
$table__thead_th_color: #fff;
$table__thead_th_border: #0e0e0e;
$table__tbody_td_background: #1b1b1b;
$table__tbody_td_color: #fff;
$table__tbody_td_border: #0e0e0e;

// Gist theme
$gist__background: #0f0f0f;
$gist__code_color: white;
$gist__border: #1a1a1a #1a1a1a #1a1a1a;
$gist__ln_background: #1a1a1a;
$gist__ln_color: black;
$gist__meta_color: white;
$gist__meta_link_color: #1ad62a;
$gist__comment_color: #386931;
$gist__function_color: #246194;
$gist__fn_color: #ad8500;
$gist__string_color: #c55829;
$gist__var_color: #132b44;