.hello{
  font-family: $font-family-primary;
  padding: 3%;
  a{
    color: $color-links;
    text-decoration: underline;
    // font-weight: 800;
  }
  .title{
    h1{
      font-weight: 800;
      @media (max-width: 480px) {
        font-size: 2.9rem;
      }
      .cursor{
        margin-left: -5px;
      }
    }
  }
  .content{
    padding: 2% 0%;
    .avatar{
      margin-right: 15px;
      @media (max-width: 768px) {
        display: none;
      }
    }
    p{
      line-height: 3rem;
    }
    blockquote{
      background-color: #F5F5F5 !important;
      border: 0.1rem solid #F5F5F5 !important;
      border-radius: 0px !important;
    }
  }
}