/* Stylesheets for include Markdown
––––––––––––––––––––––––––––––––––––––––––––––––––  */

#markdown-toc{
  margin-bottom: 100px;
  &:before{
    content: $markdown-toc__title;
    font-weight: bold;
    font-size: 1.8rem;
  }
}

blockquote{
  border: none !important;
  background-color: $blockquote__bg;
  border-left: 5px solid $color__links !important;
  padding: 10px 10px 0px 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  p{
    padding-bottom: 10px;
  }
}

table{
  margin: 2% 0%;
  width: 100%;
  thead{
    tr{ 
      th{
        padding: 5px;
        border: 1px solid $table-thead-tr-th-border;
        color: $table-thead-tr-th-color;
        background-color: $table-thead-tr-th-bg;
      }
    }
  }
  tbody{
    background-color: $table-tbody-tr-td-bg;
    tr{
      td{
        padding: 5px;
        border: 1px solid $table-tbody-tr-td-border;
        color: $table-tbody-tr-td-color;
        background-color: $table-tbody-tr-td-bg;
        code{
          background-color: transparent;
        }
      }
    }
  }
}


.gist-data{
 background-color: #F9F9F9;
 table{
    background-color: #F9F9F9;
    thead{
      background-color: #F9F9F9;
      tr{
        th{
          border: none;
        }
      }
    }
    tbody{
      background-color: #F9F9F9;
      border: none;
      tr{
        td{
          border: none;
        }
      }
    }
  }
}

.markdown__listhome{
  li{
    float: left;
    margin-right: 35px;
  }
}