.sharebutton {
  margin: 10% auto;
  font-size: 14px;
  text-align: center;
  .title {
    padding: 4px;
    font-size: 15px
  }
  ul.wrapper{
    display: inline-block;
    @media (max-width: 480px) {
      display: block;
      width: 120px;
      margin: 0 auto;
    }
    li {
      float: left;
      @media (max-width: 480px) {
        float: none;
        margin: 10px 0px;
      }
      margin-right: 5px;
      &:before{
        content: "" !important;
        display: block !important;
        margin-left: 0em !important;
        font-family: inherit !important;
        clear: both !important;
      }
      a {
        color: #FFFFFF!important;
        display: block;
        font-weight: 600;
        text-decoration: none;
        padding: 5px 10px;
        background-color: $color-links;
        &:after{
          content: "" !important;
          display: block !important;
          margin-left: 0em !important;
          font-family: inherit !important;
          clear: both !important;
        }
      }
    }
  }
}
