.socials{
  width: 200px;
  @media (min-width: 480px) and (max-width: 768px) {
    width: 170px;
  }
  margin: 15% auto;
  clear: both;
  text-align: center;
  p{
    font-size: 1.7rem;
  }
  .columns{
    margin: 1% 0%;
    @media (max-width: 480px) {
      float: left;
    }
    a{
      color: rgba($color-links, .9);
      &:hover{
        color: rgba($color-links, .7);
      }
      .icon{
        font-size: 2.3rem;
        @media (max-width: 768px) {
          font-size: 3rem;
        }
        @media (max-width: 480px) {
          font-size: 2.5rem;
        }
      }
    }
  }
}