.main{
  .wrapper{
    .row{
      .content{
        .label-plugin{
          margin: 10px 0px;
          display: inline-block;
        }
        .post{
          .content{
            a:after {
              content: "\f08e"; /* FontAwesome Unicode */
              font-family: FontAwesome;
              display: inline-block;
              margin-left: 0.2em; /* same as padding-left set on li */
              width: 1.3em; /* same as padding-left set on li */
            }
            ul{
              li{
                a:after {
                  content: "" !important; /* FontAwesome Unicode */
                  margin-left: 0 !important; /* same as padding-left set on li */
                  width: 0em !important; /* same as padding-left set on li */
                }
              }
            }
          }
        }
        blockquote{
          border: none !important;
          background-color: $blockquote-background;
          border-left: 5px solid $color-links !important;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        table{
          margin: 2% 0%;
          background-color: $content-background-color;
          thead{
            background-color: $table-head-background-color;
            tr{
              th{
                padding: 5px;
                border: 2px solid $table-head-border-color;
              }
            }
          }
          tbody{
            background-color: $table-body-background-color;
            // border: 1px solid #fff;
            tr{
              td{
                padding: 5px;
                border: 2px solid $table-body-border-color;
                code{
                  background-color: transparent;
                }
              }
            }
          }
        }
        .gist-data{
         background-color: #F9F9F9;
         table{
            background-color: #F9F9F9;
            thead{
              background-color: #F9F9F9;
              tr{
                th{
                  border: none;
                }
              }
            }
            tbody{
              background-color: #F9F9F9;
              border: none;
              tr{
                td{
                  border: none;
                }
              }
            }
          }
        }
        // ul {
        //   list-style: none;
        //   padding: 0;
        //   li{
        //     padding-left: 1.3em;
        //     &:before {
        //       content: "\f111"; /* FontAwesome Unicode */
        //       font-family: FontAwesome;
        //       display: inline-block;
        //       font-size: 1rem;
        //       margin-left: -1.3em; /* same as padding-left set on li */
        //       width: 1.5em; /* same as padding-left set on li */
        //     }
        //   }
        // }
      }
    }
  }
}
