<!-- HTML Script to insert Google Analytics
by: William C. Canin -->

{% if site.google.analytics.enable == "yes" and site.google.analytics.id %}
<script>!function(e,t,a,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=t.createElement(a),s=t.getElementsByTagName(a)[0],o.async=1,o.src=n,s.parentNode.insertBefore(o,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","{{ site.google.analytics.id }}","auto"),ga("send","pageview");</script>
{% endif %}