html,body{
  background-color: $content-background-color;
  color: $color;
  a{
    &:focus,&:active,&:hover{
      outline: none;
    }
  }
}
.main{
  font-family: $font-family-primary;
  background-color: transparent;

  .wrapper{
    @media (min-width: 1122px) {
      padding: 0% 5%;
    }
    .sidebar-redmode{
      display: none;
    }
    .content{
      background-color: $content-background-color;
      margin-bottom: 3%;
      font-size: 1.7rem;
    }
  }
}

.full-redmode{
  width: 100%;
}