html,body{
  background-color: $content-background-color;
  color: $color;
  a{
    &:focus,&:active,&:hover{
      outline: none;
    }
  }
}
.main{
  font-family: $font-family-primary;
  background-color: transparent;

  .wrapper{
    @media (min-width: 1122px) {
      padding: 0% 5%;
    }
    .sidebar-redmode{
      display: none;
    }
    .content-main{
      background-color: $content-background-color;
      margin-bottom: 3%;
      font-size: 1.7rem;
      min-height: 720px;
      @media (min-width: 769px) {
        @if $border-dashed == true {
          border-left: 2px dashed $border-dashed-color;
        }
      }
    }
  }
}

.full-redmode{
  width: 100%;
}