.error404{
  font-family: $font-family-primary;
  padding: 3%;
  a{
    color: $color-links;
    text-decoration: underline;
  }
  .title{
    text-align: center;
    h1{
      font-weight: 800;
      @media (max-width: 480px) {
        font-size: 2.9rem;
      }
    }
  }
  .content{
    text-align: left;
    padding: 15px 0px;
  }
}