.list-tags{
  font-family: $font-family-primary;
  padding: 3%;
  a{
    color: $color-links;
    text-decoration: underline;
  }
  .title{
    h1{
      font-weight: 800;
    }
  }
  .content{
     padding: 15px 0px;
     .cloud{
      padding: 10px;
      background-color: $color-links;
      display: inline-block;
      margin: 1% 0%;
      a{
        color: #fff;
        font-size: 1.7rem;
        text-decoration: none;
      }
     }
     .panel-group{
      .panel-default{
        border-radius: 0px;
        border-color: #E9E9E9;
        .panel-heading{
          .panel-title{
            a{
              font-size: 2.5rem;
            }
            .plus{
              font-size: 2.5rem;
            }
            .badge{
              background-color: #fff;
              color: $color;
              font-size: 1.8rem;
            }
          }
        }
        .panel-collapse{
          .panel-body{
            .list-group-item{
              border: none;
              padding: 10px 0px;
              .label-info{
                background-color: #F6F6F6;
                padding: 5px 10px;
                color: $color;
                @media (max-width: 767px) {
                  display: none;
                }
              }
              a{}
            }
          }
        }
      }
     }
  }
}