.page{
  font-family: $font-family-primary;
  padding: 3%;
  a{
    color: $color-links;
    text-decoration: underline;
  }
  .title{
    h1{
      font-weight: 800;
      @media (max-width: 480px) {
        font-size: 2.9rem;
      }
    }
  }
  .content{
    padding: 15px 0px;
    @media (max-width: 768px) {
      h1{
        font-size: 2.7rem;
        font-weight: 800;
      }
      h2{
        font-size: 2rem;
        font-weight: 600;
      }
      h3{
        font-size: 1.8rem;
      }
      h3,h4{
        font-weight: 600;
      }
    }
   }
}