.postlist{
  padding: 3%;
  a{
    color: $color-links;
    text-decoration: underline;
  }
  .title-description{
    h1{
      font-weight: 800;
    }
    p{}
  }
  .meta{
    .col-sm-6{
      text-align: center;
      padding: 2% 0% 8%;
      a{
        font-size: 2rem;
      }
    }
  }
  .content{
    .wrap{
      @media (max-width: 1023px){
        margin: 5% 0%;
      }
      @media (min-width: 1024px) {
        margin: 1.3% 0%;
        padding: 15px 0px;
        @if $background-featured-enable == true {
          background-color: $background-featured;
          padding: 15px 10px;
        } @else {
          background-color: transparent;
        }
      }
      .date{
        @media (max-width: 768px) {
          display: none;
        }
        .time{
          padding: 5px;
          @if $background-featured-enable == true {
            background-color: $background-featured;
          } @else {
            background-color: transparent;
          }
        }
      }
      .url{
        h1{
          margin: 0px;
          font-size: 2.8rem;
          line-height: 4rem;
          @media (max-width: 768px) {
            font-size: 2.1rem;
            .fa-book{
              display: none;
            }
          }
          a{
            color: $color-links;
            text-decoration: underline;
            font-weight: 600;
            letter-spacing: 0.2rem;
          }
        }
      }
    }
  }
}