.layout_tag{
    &__header, &__content{
        @extend .elements_box;
    }
    &__time{
        background-color: $texts__background;
        opacity: 0.77;
        color: #080808;
        border-radius: 5px;
    }
}