.sidebar{
    background-color: $background__full;
    &__avatar_flip{
        // position: relative;
        perspective: 1000;
        margin: 10px auto;
        width: 165px;
        height: 165px;
        @media (min-width: 575px) and (max-width: 992px){ 
            width: 20%;
            height: auto;
        }
        &-card{
            transform-style: preserve-3d;
            transition: all 1.0s linear;
        }
        @media (min-width: 768px){
            &:hover .sidebar__avatar_flip-card {
                transform: rotateY(180deg);
            }
        }
        
        &-face{
            position: absolute;
            backface-visibility: hidden;
        }
    }
    .sidebar__avatar_flip-back.sidebar__avatar_flip-face{
        display: block;
        transform: rotateY(180deg);   
    }
    &__avatar_noflip{
        img{
            @media (max-width: 992px){
                width: 90px;
            }
        }
    }
    &__title{
        font-family: $font-family__secondary;
        background-color: $elements__background;
        border-radius: 20px;
        color: $color__clickable;
        border: 1px solid $elements__box_border_color;
        @media (max-width: 992px){
            font-size: 1.9rem;
            text-align: left !important;
        }
    }
    &__menu{
        font-family: $font-family__secondary;
        background-color: $elements__background;
        border-radius: 20px;
        border: 1px solid $elements__box_border_color;
        // @media (min-width: 768px) and (max-width: 992px) {
        //   width: 190px;
        //   margin: 0 auto;
        // }
        &-title{
          font-size: 1.3rem;
        }
        &-link{
          font-size: 1.3rem;
          line-height: 1.64rem;
          &:hover{
            text-decoration: underline;
          }
        }
    }
}
