---
layout: compress
---

<!-- Include Data Base  -->
{% include liquid/data %}


{% if site.maintenance.enable == true %}

  {% include maintenance.html %}

{% else %}

<!DOCTYPE html>
<html>
  {% include partials/head.html %}
<body id="top">

  <div class="layout_default layout_default__bg">

    <div class="container layout_default__container">

      <div class="row">

        <div class="p-0 col-lg-3 sidebar sidebar__bg">
          {% include partials/sidebar.html %}
        </div>

        <div class="pt-4 pt-lg-0 col-lg-9 border-l-dashed border-r-dashed layout_default__content">
          {{ content }}
        </div>

      </div>

    </div>


  </div>

  {% include partials/footer.html %}
  {% include partials/scripts/default.html %}
</body>
</html>

{% endif %}
