---
layout: compress
---

<!-- Include Data Base  -->
{% include dbase/dbase %}

{% if dbase.website.under_maintenance.enable == false %}

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  {% include pieces/head.html %}
  <body>
    <div class="main" id="top">
      <div class="container wrapper">
        <div class="row">
          {% include pieces/sidebar.html %}
          <div class="col-sm-9 content-main">
              {% if page.url == '/' %}
                {% include pieces/hello.html %}
              {% else %}
                {{ content }}
              {% endif %}
          </div>
        </div>
      </div>
      {% include pieces/footer.html %}
    </div>
  {% include scripts/src.html %}

  </body>
</html>

{% else if  dbase.website.under_maintenance.enable == true %}
  {% include pieces/under_maintenance.html %}
{% endif %}