---
layout: default
---

<!-- Include Data Base  -->
{% include liquid/data %}

<div class="p-lg-4 layout_hello">

  {% if site.home.terminal.enable != true %}
  <div class="layout_hello__header">

    <div class="container-fluid">
      <div class="row">
        <h2 class="mb-4 font-weight-bold layout_hello__title">{{ page.title }}<span class="layout_hello__cursor">|</span></h2>
      </div>
    </div>

  </div>
  {% endif %}


  <div class="layout_hello__content">

    {% if site.home.terminal.enable != true %}

    <div class="container-fluid">
      <div class="d-block row">
        {{ content }}
      </div>
    </div>

    {% else %}

    <div class="d-block row">
    <div class="wow fadeInRight intro__terminal">
      <header class="header">
        <div class="btn header__btn header__btn--red" style="cursor: pointer;"></div>
        <div class="btn header__btn header__btn--yellow" style="cursor: pointer;"></div>
        <div class="btn header__btn header__btn--green" style="cursor: pointer;"></div>
        <div class="title">
          <span class="title__text">{{ loadData.website.terminal.text.user }}@{{ loadData.website.terminal.text.os }}:/home/{{ loadData.website.terminal.text.user }}</span>
        </div>
      </header>
      <section class="body">
        {% comment %} ./brief_description.py {% endcomment %}
        <p>{{ loadData.website.terminal.text.user }}@{{ loadData.website.terminal.text.os }}:~$ python brief_description.py</p>
        {{ content }}
        <p class="body__output"><span>{{ loadData.website.terminal.text.user }}@{{ loadData.website.terminal.text.os }}:~$</span>
          <span class="layout_hello__cursor">_</span>
        </p>
      </section>
    </div>
  </div>
  
  {% endif %}

  </div>

</div>
