---
layout: default
---

<!-- Include Data Base  -->
{% include dbase/dbase %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
<!--  Next Version  <div class="readmode">
    <a id="btn-readmode" class="pull-right btn btn-default btn-readmode" href="">Read Mode</a>
  </div> -->
  <div class="row title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="row meta" datetime="{{ page.date | date:'%Y-%m-%d' }}">
    <time class="col-sm-6 datetime">
      {% if site.screen.icons.enable == true %}<i class="fa fa-calendar" aria-hidden="true"></i>{% endif %}<span class="text {% if site.screen.icons.enable == true %} tmargin {% endif %}">{% datelang page %}{% include datelang/page %}</span>
    </time>
    {% if page.comments and dbase.userdata.disqus.username %}
    <div class="col-sm-6 count-comments">
      <span class="wrap">{% if site.screen.icons.enable == true %}<i class="fa fa-comments" aria-hidden="true"></i>&nbsp;{% endif %}<a href="#comments" data-disqus-identifier="{{ page.url }}">0</a></span>
    </div>
    {% endif %}
  </div>
  <div class="row tag-list">
    {% if site.screen.icons.enable == true %}<i class="fa fa-tags" aria-hidden="true"></i>{% else %}Tags: {% endif %}
    {% for tag in page.tags %}
      <a href="{{ '/blog/tags/' | prepend: site.baseurl | prepend: site.url }}/{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </div>
  <div class="row">
    {{ page.content | reading_time }}
  </div>
  <div class="row content">
    {{ content }}
    {% include pieces/share_social.html %}

    <div class="day-quote">
      <div class="title">
        {{ page.day_quote.title }}
      </div>
      <div class="content">
        {{ page.day_quote.content }}
      </div>
    </div>
    <div class="row author">
      <div class="col-sm-2 image">
        <img class="img-responsive center-block" src="{{ '/assets/images/author' | prepend: site.baseurl | prepend: site.url }}/{{ dbase.website.author.image }}" alt="">
      </div>
      <div class="col-sm-10 bio">
        <p class="title">{{ dbase.website.strings.post.author.title }}</p>
        <p class="name">{{ dbase.website.strings.post.author.name }}</p>
        <p class="content">{{ dbase.website.strings.post.author.bio }}</p>
      </div>
    </div>
    <div class="disqus" id="comments">
    {% if page.comments and dbase.userdata.disqus.username %}
      <div class="title">
        <h3><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;{{ dbase.website.strings.comments.title }}</h3>
      </div>
      <div class="content">
        {% include scripts/disqus_comments.html %}
      </div>
    {% else %}
      <div class="title">
        <h3><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;{{ dbase.website.strings.comments.disable }}</h3>
      </div>
    {% endif %}
    </div>

  </div>
</article>
