---
layout: default
page: search
---

<div class="search">
  <div class="row title">
     <h1>{{page.title}}</h1>
  </div>
  <div class="row content">
    {{ content }}
    {% for post in site.categories.blog %}
      {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
    {% endfor %}
    <form action="" name="searchForm" id="searchForm">
    <div class="input-group">
      <input class="form-control search-input" type="text" id="search-input" value="" placeholder="{{page.input.placeholder[0]}} {{ post_count }} {{page.input.placeholder[1]}}" onfocus="this.placeholder = '{{page.input.onfocus}}'" onblur="this.placeholder = '{{page.input.onblur[0]}} {{ post_count }} {{page.input.onblur[1]}}'">
      <span class="input-group-btn">
        <button class="btn-clean" id="btn-clean" type="button" onclick="cleanInputSearch()">Clean</button>
      </span>
    </div>
    <div class="searchResults">
      <ul class="searchResult" id="searchResult"></ul>
    </div>
    </form>
  </div>
</div>
