---
layout: default
---

<!-- Include Data Base  -->
{% include dbase/dbase %}

<div class="tag-page">
  <div class="row title">
    <h1>Tag: {{ page.tag }}</h1>
  </div>
  <div class="row content">
    <h3>Posts</h3>
    <div class="list-post">
      {% for post in page.posts %}
        <div class="wrap">
          <div class="meta-list">
            <div class="col-sm-6 datetime">
              <span>
                {% datelang post %}
                {% include datelang/post %}
              </span>
            </div>
            <div class="col-sm-6 tags-this">
            {% if site.screen.icons.enable == true %}<i class="fa fa-tags" aria-hidden="true"></i>{% else %}Tags: {% endif %}
              <span>{{ post | tags }}</span>
            </div>
          </div>
          <div class="title">
            <h1><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
          </div>
        </div>
    {% endfor %}
    </div>
  </div>
</div>
