/* Fonts
––––––––––––––––––––––––––––––––––––––––––––––––––  */

$font-family__primary: 'Space Mono', monospace;
$font-family__secondary: 'Gloria Hallelujah', cursive;
$font-family__third: sans-serif;
