/* Enable / Disable Background Featured All Site */
$background-featured-enable: false;

/* Variables Colors Screen */

/* Theme: Light - Default */
$background-featured: #EEEEEE;
$content-background-color: #FFFFF2;
$sidebar-background-color: #F4F4F4;
$footer-background-color: #FFF8F8;
$footer-border-color: #E8E8E8;
$blockquote-background: rgba(209, 209, 209, 0.4);
$links-title-weight: 800;
$color-links: #D7101E;
$color: #000000;
$highlight-background-color: #DFDFDF;
$highlight-border-color: #E8E8E8;
$border-dashed-color: #ACACAC;
$border-dashed: true;

/* Theme: Darkness Blood */
// $background-featured: #151515;
// $content-background-color: #000;
// $sidebar-background-color: #000;
// $footer-background-color: #000;
// $footer-border-color: #000;
// $blockquote-background: #2D2D2D;
// $links-title-weight: 800;
// $color-links: #D7101E;
// $color: #fff;
// $highlight-background-color: #131313;
// $highlight-border-color: #131313;
// $border-dashed-color: #D7101E;
// $border-dashed: false;

/* Theme: Darkness Linux */
// $background-featured: #151515;
// $content-background-color: #000;
// $sidebar-background-color: #000;
// $footer-background-color: #0E0E0E;
// $footer-border-color: #0E0E0E;
// $blockquote-background: #2D2D2D;
// $links-title-weight: 800;
// $color-links: #B9A600;
// $color: #fff;
// $highlight-background-color: #0C0C0C;
// $highlight-border-color: #202020;
// $border-dashed-color: #B9A600;
// $border-dashed: false;