/* Enable / Disable Background Featured All Site */
$background-featured-enable: true;

/* Variables Colors Screen */
$background-featured: #EEEEEE;
$content-background-color: #fff;
$sidebar-background-color: #F4F4F4;
$footer-background-color: #FFF8F8;
$footer-border-color: #E8E8E8;
$color-links: #B62B2B; /* Secondary: #546897; */
$color: #272A3F;
$highlight-background-color: #fff;
$highlight-border-color: #E8E8E8;